@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

html body {
    background: var(--secondary);
}

body, html {
    font-family: 'Nunito', sans-serif;
}


::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-thumb {
    background: #3a7c8a;
}
::-webkit-scrollbar-thumb:hover{
    background: #3a7c8a;
}
::-webkit-scrollbar-track{
    background: #e8debb;
}
